# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vercel build outputs
.vercel/
dist/
out/

# OS-specific files
.DS_Store
Thumbs.db
